.wide-button {
    width: 43px;
}

button {
    width: 23px;
    height: 23px;
    margin: 1px 5px;
}

.container {
    border: 2px solid darkgrey;
    width: max-content
}

.section {
    border: 2px solid darkgrey;
}

.controls {
    padding: 5px 0;
}

.controls span {
    padding: 0 5px;
}
